<div class="container-fluid alert-success">

    <div class="row">
        <div class="row container-fluid">
            <div class="col-xl">
                <div class="row">

                    <div class="col">
                        Top gainers
                        {{topGN}}
                    </div>
                    <div class="col">
                       Top loosers
                       {{topLS}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                       Gap ups
                       {{gapUP}}
                    </div>
                    <div class="col-sm">
                        Gap downs
                        {{gapDw}}
                    </div>
                </div>

            </div>
            <div class="col">
               Price reversals
            </div>

        </div>
    </div>
    <form #sumdata="ngForm" [formGroup]="summarydataform" >

            <div class="row">
                    <div class="col">
                            <select  class="form-control btn btn-outline-primary" formControlName="updw">
                                    <option selected value="up">UP</option>
                                    <option value="dw">DOWN</option>
                                    
                                  </select>
                                </div>
                            
                            </div>
                            
                            </form>
    
    <div >
        <input type="text" name="date" id="date" bsDatepicker [(ngModel)]="expDate" >
       <!--<app-cusdate></app-cusdate> -->
        <button type="button" class="btn btn-success"  (click)="getSummary()" >Summary</button>
        <button type="button" class="btn btn-success"  (click)="loadDataRest()" >Summary</button>
     </div>
  <div>{{gporgd}}</div>
</div>